<div class="contact">
    <app-star title="contact section" customLineBgColor="bg-s"></app-star>
    <form
      novalidate=""
      action=""
      class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid"
    >
      <input
        id="userName"
        type="text"
        placeholder="userName"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative"
        fdprocessedid="1qgfhra"
      />
      <label for="userName" class="position-relative">userName : </label>
  
      <input
        id="userAge"
        type="text"
        placeholder="userAge"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative"
        fdprocessedid="6h62dq"
      />
      <label for="userAge" class="position-relative">userAge : </label>
  
      <input
        id="userEmail"
        type="text"
        placeholder="userEmail"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative"
        fdprocessedid="a0g1h"
      />
      <label for="userEmail" class="position-relative">userEmail : </label>
      <input
        id="userPassword"
        type="text"
        placeholder="userPassword"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative"
      />
  
      <label for="userPassword" class="position-relative">userPassword : </label>
      <button class="btn mt-4 text-white" style="background-color: #1abc9c">
        send Message
      </button>
    </form>
  </div>
  
