.portfolio {
    height: 115vh;
    /* margin-top: 110px; */
  }
  .layer {
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: 0.6s opacity;
  }
  .layer:hover {
    opacity: 1;
  }
  .my-m {
    margin-top: -42px;
  }
  